@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

:root {
  --primary-soft-blue: hsl(215, 51%, 70%);
  --primary-cyan: hsl(178, 100%, 50%);

  --neutral-dark-blue-main: hsl(217, 54%, 11%);
  --neutral-dark-blue-card: hsl(216, 50%, 16%);
  --neutral-dark-blue-line: hsl(215, 32%, 27%);
  --neutral-white: hsl(0, 0%, 100%);
}

*,
*::after,
*::before,
html {
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  box-sizing: border-box;
}

body{
  margin: 0;
  height: 100vh;
  background-color: var(--neutral-dark-blue-main);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card{
  background-color: var(--neutral-dark-blue-card);
  max-width: 17rem;
  padding: 1.05rem;
  border-radius: 10px;
  box-shadow: 0px 4px 30px 15px rgb(0, 0, 0, 0.1);
}

.card .card-image{
  border-radius: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.card-image a img  {
  object-fit: cover;
  width: 100%;
  border-radius: 10px;
  transition: .2s;
}

.card-image a img:first-child{
  opacity: 0;
  position: absolute;
  background-color: var(--primary-cyan);
  padding: 6rem;
}


.card-image a img:first-child:hover{
  opacity: 0.85;
}

a{
  text-decoration: none;
  cursor: pointer;
  color: var(--neutral-white);
  transition: .2s;
}

a:hover{
  color: var(--primary-cyan);
}


.card-content h1 a{
  font-weight: 400;
  margin-top: 1.2rem;
  margin-bottom: 1rem;
}

.card-content p{
  color: var(--primary-soft-blue);
  font-weight: 300;
  font-size: .9rem;
}

.card-content .sub-content{
  display: flex;
  vertical-align: middle;
  justify-content: space-between;
}

.sub-content img, .sub-content p{
  display: inline;
  vertical-align: middle;
}

.sub-content div{
  flex: 1;
}

.sub-content div:last-child{
  text-align: right;
}

.sub-content div:first-child img{
  width: 8%;
  margin-right: .1rem;
}

.sub-content div:first-child p{
  font-weight: 600;
  color: var(--primary-cyan);
}

.sub-content div:last-child img{
  width: 12%;
}

.sub-content div:last-child p{
  font-weight: 400;
  font-size: .8rem;
}

.card-content .line{
  width: 100%;
  height: 1px;
  border-radius: 1px;
  margin-block: 1rem;
  background-color: var(--neutral-dark-blue-line);
}

.card-author img{
  display: inline;
  width: 11%;
  border: 1px solid var(--neutral-white);
  border-radius: 100%;
  vertical-align: middle;
  margin-right: .5rem;
}

.card-author p, .card-author a{
  font-size: .8rem !important;
  font-weight: 300;
}

.card-author p{
  display: inline;
  color: var(--primary-soft-blue);
}

